


<svg class="O" width="100%" height="100%" viewBox="0 550 1000 500"  version="1.1">
<!--L-->
  <g
     id="g3005"
     transform="matrix(0.15167179,0,0,0.15167179,-7.8412196,655.29058)">
<path
   id="path2995"
   style="fill:none;stroke:red;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"
   d="m 298.87848,299.159 0,1315.0653 777.08402,0" stroke-width="1" />
</g>
<!--1erO-->
<g
 id="g3021"
 transform="matrix(0.15167179,0,0,0.15167179,141.71307,655.72392)">
<path
   id="path3011"
   style="fill:none;stroke:black; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"
   d="m 657.53265,282.08018 c -145.34953,0 -260.12773,110.16747 -325.83426,242.86054 -66.04806,133.3828 -86.61767,283.03365 -86.61767,431.75093 0,148.71725 20.56961,298.36815 86.61767,431.75095 65.70653,132.693 180.48473,242.8605 325.83426,242.8605 145.34954,0 260.12774,-110.1674 325.83426,-242.8605 66.04809,-133.3828 86.61769,-283.0337 86.61769,-431.75095 0,-148.71728 -20.5696,-298.36813 -86.61769,-431.75093 C 917.66039,392.24766 802.88219,282.08018 657.53265,282.08018 z"
   stroke-width="1"/>
</g>

<!--2emeO-->
<g
 id="g3021-3"
 transform="matrix(0.15167179,0,0,0.15167179,315.91895,655.72392)">
<path
   id="path3011-6"
   style="fill:none;stroke:red; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"
   d="m 657.53265,282.08018 c -145.34953,0 -260.12773,110.16747 -325.83426,242.86054 -66.04806,133.3828 -86.61767,283.03365 -86.61767,431.75093 0,148.71725 20.56961,298.36815 86.61767,431.75095 65.70653,132.693 180.48473,242.8605 325.83426,242.8605 145.34954,0 260.12774,-110.1674 325.83426,-242.8605 66.04809,-133.3828 86.61769,-283.0337 86.61769,-431.75095 0,-148.71728 -20.5696,-298.36813 -86.61769,-431.75093 C 917.66039,392.24766 802.88219,282.08018 657.53265,282.08018 z"
  stroke-width="1" />
</g>

<!--P-->
<g
 id="g3037"
 transform="matrix(0.15167179,0,0,0.15167179,478.85784,655.72392)">
<path
   id="path3027"
   style="fill:none;stroke:black; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"
   d="m 298.87848,979.3425 358.65417,0 c 113.26653,0 229.59488,-19.74094 313.82241,-95.22528 69.06814,-61.89858 104.60744,-152.01805 104.60744,-244.86647 0,-92.84842 -35.5393,-182.9679 -104.60744,-244.86647 C 887.12753,318.89992 770.79918,299.159 657.53265,299.159 l -358.65417,0 0,1315.0653"
   stroke-width="1" />
</g>

<!--tiret-->
<g
 id="g3053"
 transform="matrix(0.15167179,0,0,0.15167179,657.59908,655.76726)">
<path
   id="path3043"
   style="fill:none;stroke:red; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"
   d="m 239.10278,896.91596 836.85972,0"
   stroke-width="1" />
</g>

<!--1S-->
<g
 id="g3093"
 transform="matrix(0.15167587,0,0,0.15167587,807.02026,655.87611)">
<path
   id="path3083"
   style="fill:none;stroke:black; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"
   d="M 955.45485,477.71298 C 904.84912,358.2532 787.26506,281.04077 657.53265,282.08018 c -86.36801,0.69198 -168.59631,37.26331 -226.66693,101.19275 -75.06524,82.63869 -100.45862,199.74975 -60.25567,303.57825 47.39123,122.39304 169.08723,189.95523 286.9226,248.24863 168.49642,83.35549 346.69835,190.47239 346.69835,372.38239 0,86.1399 -37.95567,167.4069 -100.54022,226.6737 -66.34148,62.8244 -154.77112,96.3075 -246.15813,97.1472 -161.43786,1.4833 -307.90214,-94.342 -371.20018,-242.8605"
   stroke-width="1" />
</g>
</svg>

<script src="script/jquery-1.10.2.js"></script>

<script type="text/javascript">
var currentMousePos = { x: -1, y: -1 };
  $(document).mousemove(function(event) {
      currentMousePos.x = event.pageX;
      currentMousePos.y = event.pageY;
      $('.O path').attr('stroke-width', currentMousePos.y);
  });
</script>
