/*
Theme Name: PBI
Theme URI: http://wordpress.bbxdesign.com/
Description: WordPress tutorial theme
Version: 1.0
Author: Antoine Gelgon
Author URI:
Tags: blue, full-width, simple
*/



@font-face {
    font-family: "Manif_book";
    src:url("typotheque/def/ManifontGroteskBook.otf") format('embedded-opentype') ,
        url("typotheque/def/ManifontGroteskBook.ttf") format('truetype'),
        url("typotheque/def/ManifontGroteskBook.eot")
  }

@font-face {
    font-family: "Manif_italic";
    src:url("typotheque/def/ManifontGroteskBookItalic.otf") format('embedded-opentype') ,
        url("typotheque/def/ManifontGroteskBookItalic.ttf") format('truetype'),
        url("typotheque/def/ManifontGroteskBookItalic.eot")
	font-style:italic;
  }
@font-face {
    font-family: "Manif_bold";
     src:url("typotheque/def/ManifontGrotesk_bold_none.ttf");
    src:url("typotheque/def/ManifontGroteskBold.otf") format('embedded-opentype') ,
        url("typotheque/def/ManifontGroteskBold.ttf") format('truetype'),
        url("typotheque/def/ManifontGroteskBold.eot")
  }
@font-face {
    font-family: "vremena_reg";
    src:url("typotheque/def/Vremena_regular_none.otf") format('embedded-opentype') ,
        url("typotheque/def/Vremena_regular_none.ttf") format('truetype'),
        url("typotheque/def/Vremena_regular_none.eot")
}

@font-face {
    font-family: "vremena_bold";
    src:url("typotheque/def/Vremena_bold_none.otf") format('embedded-opentype') ,
        url("typotheque/def/Vremena_bold_none.ttf") format('truetype'),
        url("typotheque/def/Vremena_bold_none.eot")
}

@font-face {
    font-family: "vremena_reg_ital";
    src:url("typotheque/def/Vremena_regular_Italic.otf") format('embedded-opentype') ,
        url("typotheque/def/Vremena_regular_Italic.ttf") format('truetype'),
        url("typotheque/def/Vremena_regular_Italic.eot")
}

@font-face {
    font-family: "Hack_reg";
    src:url("typotheque/def/Hack_regular_none.ttf");
    src:url("typotheque/def/Hack_regular_none-webfont.otf") format('embedded-opentype') ,
        url("typotheque/def/Hack_regular_none-webfont.ttf") format('truetype'),
        url("typotheque/def/Hack_regular_none-webfont.eot")
}
@font-face {
    font-family: "Hack_bold";
    src:url("typotheque/def/Hack_bold_none-webfont.otf") format('embedded-opentype') ,
        url("typotheque/def/Hack_bold_none-webfont.ttf") format('truetype'),
        url("typotheque/def/Hack_bold_none-webfont.eot")
}

a{
  text-decoration: none;
}

body{
   -webkit-font-smoothing: antialiased;
   margin: 0px;
   background: #F8F8F8;
   min-width: 600px;
}

.container{
    position: fixed;
    /* left:50%; */
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: auto;
    background: #FFF;
    width:50%;
    float: left;
    top:0px;
    overflow-y: scroll;
    z-index: 101;
}

.bureau{
   font-family: "Manif_book";
   margin: 0px;
   margin-top: 0px;
   width: 50%;
   min-width: 250px;
   height: 100%;
   float: left;
   position: fixed;
   overflow-y: scroll;
   padding-top: 100px;
   padding-left: 17px;
}

.fiche{
   width:166px;
   height:256px;
   font-size: 20px;
   color: black;
   position: absolute;
   border-radius: 10px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;

}

.fiche:hover{
   z-index: 100;
}

.fiche br{
   /* margin-top: -30pt; */
}

.rectangle{
   width: 100% -10px;
   height: 25%;
   background: white;
   padding-left: 5px;
   padding-top: 5px;
   padding-right: 5px;
   padding-bottom: 5px;
   cursor: pointer ;

   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   box-shadow: 0px -2px 5px #a0a0a0;
}

.dossier{
   font-family: "Manif_book";
   width: 166px;
   height: 480px;
   float: left;
   margin-top: 20px;
   margin-bottom: -30px;
   margin-right: 10%;
   margin-left: 10%;
}

.prevFiche{
   font-size: 60px;
  font-family: "Manif_book";
   z-index: 100;
   width: 100%;
   height: 100%;
   background: grey;
   z-index: 200;
}

.prevFiche h1{
   font-size: 60px !important;
   margin-top: 5px;
   padding-left: 15px;
   font-weight: normal;
   background: white;
   margin-bottom: 0px;
}
.prevFiche h2{
   font-size: 30px !important;
   margin-top: 0px;
   padding-bottom: 40px;
   padding-left: 22px;
   font-weight: normal;
   background: white;
   text-transform: capitalize;
}

.menu{
   font-family: "Manif_book";
   width: calc(50% + 17px);
   min-width: 250px;
   height: auto;
   bottom: 0px;
   position: fixed;
   margin-left: -17px;
   background: #F8F8F8;
   padding-bottom: 5px;
   padding-left: 8.5px;
   padding-right: 8.5px;
   box-shadow: 0px -10px 10px #F8F8F8;

}

.menu span{
   height: auto;
   float: left;
   width: 50%;
   text-align: center;
}

.menu span:hover{
   text-decoration: underline;
   cursor: pointer;
}

header{
   box-shadow: 0px 10px 10px  #F8F8F8;
   font-family: "Manif_book";
   width: calc( 50% - 17px);
   min-width: 250px;
   height: 30px;
   top: 0px;
   position: fixed;
   margin-left: 0px;
   background: #F8F8F8;
   padding-top: 5px;
   z-index: 100
}

header span{
   height: auto;
   float: left;
   left: 50%;
   margin-top: 10px;
   position: absolute;
   width: 50%;
   text-align: center;
}

header span:hover{
   text-decoration: underline;
   cursor: pointer;
}

.O{
   overflow: visible;
   left: 10px;
   top: -5px;
   width: 125px;
   position: fixed;
}

.cont_menu{
   font-family: "Manif_book";
   z-index: 100;
font-size: 20px;
line-height:1.3;
   overflow: visible;
   padding-left: 20px;
   padding-right: 10px;
   padding-top: 10px;
}
.cont_menu strong{
   font-family: "Manif_bold";
   font-weight: 100;
}
.cont_menu em{
   font-family: "Manif_italic";
   font-weight: 100;
}
.cont_menu h2{
   font-family: "Manif_book";
   font-size: 20px;
   font-weight: normal;
}
.cont_menu h1{
   font-family: "Manif_book";
   font-size: 28px;
   margin: 10px;
   font-weight: normal;
   text-decoration: underline;
   text-transform: capitalize;
}

.cont_projet{
   z-index: 10;
   top: 0px;
   min-height: 100%;
   padding: 1.5%;
   font-family: "Manif_book";
   position: absolute;
}
.cont_projet .titre{
   font-size: 48px;
   font-family: "vremena_bold";
   text-transform: uppercase;
   width: 49%;
   height: auto;
   top: 20px;
}

.cont_projet .date_lieu{
   width: 39%;
   height: 100%;
   top: 24px;
   left: 52%;
   font-size: 20px;
   font-family: "vremena_reg_ital";
   text-align: center;
   position: absolute;
}

.cont_projet h2{
   font-size: 30px;
   font-weight: normal;
}
.cont_projet h5 {
   font-size: 13px;
   width: 95%;
   margin-left: 1%;
   font-family: "Hack_reg";
   font-weight: 100;

}
.cont_projet h1{
   font-family: "Manif_book";
   font-size: 20px;
   margin: 10px;
   font-weight: normal;
   text-decoration: underline;
   text-transform: capitalize;
}

.cont_projet .presentation{
  width: 100%;
}

.cont_projet .presentation p{
   font-family: "vremena_reg";
   width: 98%;
   font-size: 26px;
   margin-bottom: -10px;
}

.cont_projet .cont_head{
  width: 100%;
  height: auto;
  padding-bottom: 5pt;
}

.metaslider li{
  margin-right: -100% !important; 
}

.cont_projet img {
   width: 32%;
   margin-left: 1%;
   height: auto;
}


.presentation blockquote,
.presentation blockquote p{
      font-size: 18pt;
}

#Non{
   display: none;
}

@media screen and (max-width: 600px){
   body{
      overflow-x: scroll;
   }
   .container{
      left: 150px;
      min-width: 450px;
   }
   .dossier{
      margin-left: -10px;
   }
}
