@font-face {
    font-family: "vremena_reg";
    src:url("Vremena_Medium_none.ttf");
}

@font-face {
    font-family: "vremena_bold";
    src:url("Vremena_bold_none.ttf");
}

@font-face {
    font-family: "Hack_reg";
    src:url("Hack_regular_none.ttf");
}

@font-face {
    font-family: "vremena_reg_ital";
    src:url("Vremena_regular_Italic.ttf");
}
@font-face {
    font-family: "Hack_bold";
    src:url("Hack_bold_none.ttf");
}


body{
  background: #ff0040;
  padding: 1%;
}

.container{
  position:relative;
}

.titre{
  font-size: 60;
  font-family: "vremena_bold";
  text-transform: uppercase;
  width:49%;
  height:auto;
  top:20px;
  float: left;
  color:white;
  outline: 1px red solid;

}

.dates{
  width:49%;
  height:inherit;;
  float: left;
  left:43%;
  font-size: 20;
  font-family: "vremena_reg_ital";
  text-align: center;
  color: white;
}

.presentation{
  font-family:"vremena_reg";
  width: 98%;
  font-size: 30;
  float: left;
  color:white;
}

.lequipe{
  font-size: 13;
  width:49%;
  float:left;
  font-family: "Hack_reg";
  color: white;
}

.liens{
  font-size: 13;
  width:49%;
  float:left;
  font-family: "Hack_reg";
  color: white;
}

.img{
  position: relative;
  width:80%;
  left:9%;
  right:9%;
}
