@font-face {
    font-family: "Young";
    src:url("YoungSerif_regular_none.ttf");
}

@font-face {
    font-family: "Combat";
    src:url("combat_regular_none.ttf");
}

@font-face {
    font-family: "Hack_reg";
    src:url("Hack_regular_none.ttf");
}

@font-face {
    font-family: "Hack_reg_ital";
    src:url("Hack_regular_italic.ttf");
}
@font-face {
    font-family: "Hack_bold";
    src:url("Hack_bold_none.ttf");
}


body{
  background:#08088a;
  padding: 3%;
}

.titre{
  font-size: 60;
  font-family: "Combat";
  text-transform: uppercase;
  color: white;
  width:100%;
  height:auto;
  top: 0px;
  padding-top: 15px;
  background:#08088a;
  position: fixed;
  text-align: center;
  z-index:2;
}

.presentation{
  font-family:"Young";
  color:white;
  z-index: 1;
  position: relative;
}

.intro{
  font-family:"Young";
  color:#a9d0f5;
  font-size: 27;
  text-align: center;
  position: relative;
  width: 100%;
  height:auto;
  top:30px;
}

.img-yacht{
width:90%;
left: 5%;
right:5%;
position:relative;
}

.citation{
  border: solid 2px white;
  color:#a9d0f5;
  left:0px;
  width: 50%;
  height:auto;
  font-family: "combat";
  font-size: 20;
  top:20px;
  padding: 2%;
  text-align: center;
  position: relative;
  float: left;
  }

.partenaires{
  width: 40%;
  height: auto;
  font-family: "Hack_reg";
  position: relative;
  padding-left: 20px;
  top:20px;
  color: white;
  float: left;
  font-size: 10;
}

.part_bold{
  font-family: "Hack_bold";
}
