@font-face {
    font-family: "manif_book";
    src:url("ManifontGrotesk_Book_none.ttf");
}

@font-face {
    font-family: "manif_book_ital";
    src:url("ManifontGrotesk_Book_Italic.ttf");
}

@font-face {
    font-family: "manif_bold";
    src:url("ManifontGrotesk_bold_none.ttf");
}

@font-face {
    font-family: "vremena_reg_ital";
    src:url("Vremena_regular_Italic.ttf");
}

@font-face {
    font-family: "manif_bold_ital";
    src:url("ManifontGrotesk_bold_italic.ttf");
}


body{
  background: white;
  padding: 1%;
}

.bold{
  font-family: "manif_bold";
  font-size: 30px;
}

.texte{
  padding-left:15px;
  font-family: "manif_book";
  font-size: 30px;
  line-height: 1.2;
}

.ital{
  font-family: "manif_book_ital";
  font-size: 30px;
}

.bold_ital{
  font-family: "manif_bold_ital";
  font-size: 35px;
}
