@font-face {
    font-family: "Manif_book";
    src:url("ManifontGrotesk_Book_none.ttf");
}

@font-face {
    font-family: "Manif_book_ital";
    src:url("ManifontGrotesk_Book_Italic.ttf");
}

@font-face {
    font-family: "Admiral";
    src:url("Admiral-Dog.ttf");
}

@font-face {
    font-family: "Hack_reg";
    src:url("Hack_regular_none.ttf");
}

@font-face {
    font-family: "indira";
    src:url("IndiraK_Regular_none.ttf");
}


body{
  background: #D8D8D8;
//background: #F1D698;
//  background: #81F7F3;
//  background: #F2F2F2;
  margin: 0px;
}

.formes{
  z-index:100;
  width: auto;
  height:230px;
  top: 160px;
  margin-left: 100px;
  position:fixed;
}

.formes2{
  z-index:100;
  width: auto;
  height:230px;
  margin-top: 150px;
  margin-left: 320px;
  position:fixed;
}

.formes3{
  z-index:100;
  width: auto;
  height:250px;
  margin-top: 130px;
  margin-left: 540px;
  position:fixed;
}

.formes4{
  z-index:100;
  width: auto;
  height:250px;
  margin-top: 440px;
  margin-left: 130px;
  position:fixed;
}

.formes5{
  z-index:100;
  width: auto;
  height:250px;
  margin-top: 440px;
  margin-left: 330px;
  position:fixed;
}

.formes6{
  z-index:100;
  width: auto;
  height:250px;
  margin-top: 440px;
  margin-left: 530px;
  position:fixed;
}

.formes7{
  z-index:-10;
  width: auto;
  height:100%;
  margin-top: 10px;
  margin-left: 50px;
  position:fixed;
}


.titre_dossier{
  font-family: "indira";
  font-size: 40px;
  line-height: 0.8;
  color: white;
  z-index: 101;
  position: absolute;
  top:230px;
  left: 130px;
  width:166px;
  height:216px;
}

.titre_dossier2{
  font-family: "indira";
  font-size: 40px;
  line-height: 0.8;
  color: white;
  z-index: 101;
  position: absolute;
  top:230px;
  left: 330px;
  width:166px;
  height:216px;
}

.titre_dossier3{
  font-family: "indira";
  font-size: 40px;
  line-height: 0.8;
  color: white;
  z-index: 101;
  position: absolute;
  top:230px;
  left: 530px;
  width:166px;
  height:216px;
}

.titre_dossier4{
  font-family: "indira";
  font-size: 40px;
  line-height: 0.8;
  color: white;
  z-index: 101;
  position: absolute;
  top:530px;
  left: 130px;
  width:166px;
  height:216px;
}


.titre_dossier5{
  font-family: "indira";
  font-size: 40px;
  line-height: 0.8;
  color: white;
  z-index: 101;
  position: absolute;
  top:530px;
  left: 330px;
  width:166px;
  height:216px;
}

.titre_dossier6{
  font-family: "indira";
  font-size: 40px;
  line-height: 0.8;
  color: white;
  z-index: 101;
  position: absolute;
  top:530px;
  left: 530px;
  width:166px;
  height:216px;
}


.contact{
  z-index: 30;
  width:8.3%;
  text-align: center;
  font-family: "Manif_book";
  font-size: 22;
  height: 35px;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.contact:hover{
  text-decoration : underline;
  cursor: pointer;
}

.vignettes{
height: 100%;
}


.lequipe{
  z-index: 30;
  width:8.3%;
  text-align: center;
  font-family: "Manif_book";
  font-size: 22;
  height: 35px;
  position: fixed;
  left: 16.6%;
  bottom: 0px;
}

.lequipe:hover{
  text-decoration: underline;
  cursor: pointer;
}

.prez{
  z-index: 30;
  width:8.3%;
  text-align: center;
  font-family: "Manif_book";
  font-size: 22;
  height: 35px;
  position: fixed;
  left: 8.3%;
  bottom: 0px;
}

.prez:hover{
  text-decoration: underline;
  cursor: pointer;
}

.fenetre_lequipe{
  width:25%;
  height:75%;
  right:12.5%;
  top:12.5%;
  background:#81F7F3;
  font-family: "manif_book";
  font-size: 22;
  padding: 10;
  z-index: 530;
  position: fixed;
  border: solid 2px black;
}

.fenetre_contact{
  width:25%;
  height:75%;
  right:12.5%;
  top:12.5%;
  background:#81F7F3;
  font-family: "manif_book";
  font-size: 22;
  padding: 10;
  z-index: 530;
  position: fixed;
  border: solid 2px black;
}

.container_droit{
  z-index: 510;
  width: 50%;
  background: white;
  left: 50%;
  margin-right: 0px;
  height:100%;
  position: fixed;

}



.etiquette_1{
  cursor: pointer;
  display: flex;
  border-radius:50%;
  width:90;
  height:90;
  top:250px;
  padding: 5px;
  left: 215px;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
  color: black;
  font-family: "manif_book";
  font-size: 22px;
  position: fixed;
  z-index: 200;
  text-align: center;
  line-height: 1;
}


.etiquette_1:hover{
text-decoration: underline;
}

.etiquette_2{
  cursor: pointer;
  display: flex;
  border-radius:50%;
  width:90;
  height:90;
  top:250px;
  padding: 5px;
  left: 515px;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
  color: black;
  font-family: "manif_book";
  font-size: 22px;
  position: fixed;
  z-index: 200;
  text-align: center;
  line-height: 1;
}

.etiquette_2:hover{
text-decoration: underline;
}

.titres_etiquette{
margin: auto;
  }

.traits{
  position:fixed;
  width:150px;
  height: 100px;
  top:245px;
  left: 190px;
  z-index: 100;
}

.fiche_grande{
  width:100%;
  height:100%;
  font-family: "Manif_book";
  font-size: 45;
  color: black;
  background:yellow;
  line-height: 1.2;
}

.page_approche{
  width:100%;
  height:100%;
  padding: 20px;
  color: black;
  background:yellow;
  position: relative;
  overflow-y: scroll;
}

.text_approche{
  width:95%;
  height: 100%;
  font-family: "Hack_reg";
  font-size: 20;
  color: black;
  margin-top: 100px;
}

.projet_1{
  border-radius: 10px;
  z-index: 3;
  width:166px;
  height:256px;
  margin-top: 100px;
  margin-left: 100px;
  background: yellow;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
  cursor: pointer;
}

//.projet_1:hover{
  //z-index: 10;
//  margin-top: 45px;
//  -moz-transition: all 0.3s ease-out;
//  -webkit-transition: all 0.3s ease-out;
//  transition: all 0.3s ease-out;
//  color: yellow;
//  background: black;
//}

.projet_2{
  border-radius: 10px;
  z-index: 4;
  width:166px;
  height:256px;
  margin-top: 110px;
  margin-left: 110px;
  background: yellow;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
  cursor: pointer;
}

//.projet_2:hover{
//  z-index: 10;
//  color: yellow;
//  margin-top: 55px;
//  -moz-transition: all 0.3s ease-out;
//  -webkit-transition: all 0.3s ease-out;
//  transition: all 0.3s ease-out;
//  background: black;
//}


.projet_3{
  border-radius: 10px;
  z-index: 5;
  width:166px;
  height:256px;
  margin-top: 120px;
  margin-left: 120px;
  background: yellow;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
  cursor: pointer;
}

//.projet_3:hover{
//  z-index: 10;
//margin-top: 65px;
//-moz-transition: all 0.3s ease-out;
//-webkit-transition: all 0.3s ease-out;
//transition: all 0.3s ease-out;
//background: black;
//color: yellow;
//}

.cestunautremonde{
  z-index: 6;
  width:146px;
  height:196px;
  margin-top: 130px;
  margin-left: 130px;
  background: yellow;
  padding: 10px;
  font-family: "Manif_book";
  font-size: 40px;
  color: white;
  position: absolute;
  border: dotted 2px black;
  text-shadow:  #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.projet_1-2{
  border-radius: 10px;
  z-index: 3;
  width:166px;
  height:256px;
  margin-top: 100px;
  margin-left: 400px;
  background: #9A2EFE;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
  cursor: pointer;
}

//.projet_1-2:hover{
//  margin-top: 45px;
//  -moz-transition: all 0.3s ease-out;
//  -webkit-transition: all 0.3s ease-out;
//  transition: all 0.3s ease-out;
//  color: #9A2EFE;
//  background: black;
//}

.projet_2-2{
  border-radius: 10px;
  z-index: 4;
  width:166px;
  height:256px;
  margin-top: 110px;
  margin-left: 410px;
  background: #9A2EFE;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
  cursor: pointer;
}

//.projet_2-2:hover{
//  color: #9A2EFE;
//  margin-top: 55px;
//  -moz-transition: all 0.3s ease-out;
//  -webkit-transition: all 0.3s ease-out;
//  transition: all 0.3s ease-out;
//  background: black;
//}

.projet_3-2{
  border-radius: 10px;
  z-index: 5;
  width:166px;
  height:256px;
  margin-top: 120px;
  margin-left: 420px;
  background: #9A2EFE;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
  cursor: pointer;
}

//.projet_3-2:hover{
//  margin-top: 65px;
//  -moz-transition: all 0.3s ease-out;
//  -webkit-transition: all 0.3s ease-out;
//  transition: all 0.3s ease-out;
//  background: black;
//  color: #9A2EFE;
//}

.projet_1-3{
  border-radius: 10px;
  z-index: 3;
  width:166px;
  height:256px;
  margin-top: 100px;
  margin-left: 500px;
  background: blue;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
}

.projet_1-3:hover{
  margin-top: 45px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: blue;
  background: black;

}

.projet_2-3{
  border-radius: 10px;
  z-index: 4;
  width:166px;
  height:256px;
  margin-top: 110px;
  margin-left: 510px;
  background: blue;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;

}

.projet_2-3:hover{
  color: blue;
  margin-top: 55px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: black;

}

.projet_3-3{
  border-radius: 10px;
  z-index: 5;
  width:166px;
  height:256px;
  margin-top: 120px;
  margin-left: 520px;
  font-family: "Manif_book";
  font-size: 60px;
  background: blue;
  position: absolute;
  border: solid 2px black;
}

.projet_3-3:hover{
  margin-top: 65px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: black;
  color: blue;
}

.projet_1-4{
  border-radius: 10px;
  z-index: 3;
  width:166px;
  height:256px;
  margin-top: 400px;
  margin-left: 100px;
  background: pink;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
}

.projet_1-4:hover{
  //z-index: 10;
  margin-top: 345px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: pink;
  background: black;
}

.projet_2-4{
  border-radius: 10px;
  z-index: 3;
  width:166px;
  height:256px;
  margin-top: 410px;
  margin-left: 110px;
  background: pink;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
}

.projet_2-4:hover{
  margin-top: 355px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: pink;
  background: black;
}

.projet_3-4{
  border-radius: 10px;
  z-index: 3;
  width:166px;
  height:256px;
  margin-top: 420px;
  margin-left: 120px;
  background: pink;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
}

.projet_3-4:hover{
  //z-index: 10;
  margin-top: 365px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: pink;
  background: black;
}

.projet_1-5{
  border-radius: 10px;
  z-index: 3;
  width:166px;
  height:256px;
  margin-top: 400px;
  margin-left: 400px;
  background: #81F781;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
}

.projet_1-5:hover{
  margin-top: 345px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #81F781;
  background: black;
}

.projet_2-5{
  border-radius: 10px;
  z-index: 3;
  width:166px;
  height:256px;
  margin-top: 410px;
  margin-left: 410px;
  background: #81F781;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
}

.projet_2-5:hover{
  margin-top: 355px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #81F781;
  background: black;
}

.projet_3-5{
  border-radius: 10px;
  z-index: 3;
  width:166px;
  height:256px;
  margin-top: 420px;
  margin-left: 420px;
  background: #81F781;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
}

.projet_3-5:hover{
  margin-top: 365px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #81F781;
  background: black;
}

.projet_1-6{
  border-radius: 10px;
  z-index: 4;
  width:166px;
  height:256px;
  margin-top: 400px;
  margin-left: 500px;
  background: red;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
}

.projet_1-6:hover{
  margin-top: 345px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: red;
  background: black;
}

.projet_2-6{
  border-radius: 10px;
  z-index: 4;
  width:166px;
  height:256px;
  margin-top: 410px;
  margin-left: 510px;
  background: red;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
}

.projet_2-6:hover{
  margin-top: 355px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: red;
  background: black;
}

.projet_3-6{
  border-radius: 10px;
  z-index: 4;
  width:166px;
  height:256px;
  margin-top: 420px;
  margin-left: 520px;
  background: red;
  font-family: "Manif_book";
  font-size: 60px;
  color: black;
  position: absolute;
  border: solid 2px black;
}

.projet_3-6:hover{
  margin-top: 365px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: red;
  background: black;
}

.titres{
  z-index: 9;
font-family: "Manif_book";
font-size: 60px;
color:yellow;
margin-top: -130;
}

.initiales{
  font-family: "Manif_book";
  font-size: 60px;
  color: white;
  z-index: 6;
}

.barre1{
  position:fixed;
  z-index: 5;
  width:150;
  height:150px;
  -webkit-transform: skew(0deg, 45deg);
  -moz-transform: skew(0deg, 45deg);
  -o-transform: skew(0deg, 45deg);
  transform: skew(0deg, 45deg);
  border-top:50px solid black;
}

#forme_A{
  z-index:-1;
  width: auto;
  height:100%;
  margin-top: 10px;
  margin-left: 50px;
  z-index: ;
  position:fixed;
}

#forme_B{
  z-index:-2;
  width: auto;
  height:100%;
  margin-top: 10px;
  margin-left: 50px;
  z-index: ;
  position:fixed;
}

.O{
  left:10px;
  margin-top: 10px;
  width:100px;
  position: fixed;
}

#rectangle{
  border-top-left-radius: 8px;
  border-top-right-radius:8px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

#rectangle_grd_fiche{
  width:100%;
  height:40%;
  background-color:white;
  z-index: 1;
  padding: 20px;

}

#accroche_fiche{
font-size: 30;
}

#presentation{
  width:80%;
  padding: 20px;
  font-size: 30;
  font-family: "Manif_book";
  position: absolute;
}

#Admiral{
  font-family: "Admiral";
  font-size: 90;
  position: fixed;
}

#blue{
  color: blue;
}
